* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header .heading {
    margin-bottom: 60px;
    height: 100px;
    background-color: #252525;
    color: #ebeae9;
    border-radius: 0;
    grid-column: 1 / 13;
}


.grid-container {
    display: grid;
    width: 100%;
    height: 750px;
    grid-template-rows: 2fr 3fr 50px;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.item {
    border-radius: 12px;
    background-color: beige;
}

.red {
    background-color: #AC5660;

    grid-column: 2 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red:hover {
    background-color: #962e3a;
    cursor: pointer;
}

.red a {
    color: #ebeae9;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

.dark-blue {
    background-color: #2D6B7E;
    grid-column: 9 / 12;
}

.light-blue {
    background-color: #529FB7;
    grid-column: 2 / 5;
}

.yellow {
    background-color: #E7B969;
    grid-column: 5 / 12;
}

footer {
    background-color: #252525;
    height: 50px;
    color: #ebeae9;
    display: flex;
    align-items: center;
    justify-content: center;
}