@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300;400;600;700&display=swap');

/* ---------------- UNIVERSAL STYLES ----------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}


/* ----------------  Navbar  ----------------- */

#nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #0067C8;
}

.rotary-logo img {
    width: 11rem;

    padding: 1rem;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    text-decoration: none; 

    color: white;
}

/* ---------------- Hero ----------------- */

#hero {
    background-color: #0067C8;

    height: 100%;
}

.hero-info .heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 3.25rem;

    text-align: center;

    padding: 3rem 1rem;
    padding-bottom: 4rem;
}

.hero-info .highlight {
    display: block;
    color: #F7A81B;

    font-size: 5.125rem;
    font-family: 'Open Sans Condensed', sans-serif;
}

.hero-img-grid {
    padding: 1rem 1rem;
    display: grid;
    height: 100%;
    gap: 1rem;
    grid-template-rows: 340px 250px 250px 250px;
    grid-template-columns: repeat(4, 1fr);

    background-color: #F7A81B;
}

.hero-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-img.one {
    background-image: url(./images/profile-rotary-logo.jpg);

    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}

.hero-img.two {
    background-image: url(./images/rotary-sdq-helping-01.jpg);

    grid-row: 2 / span 1;
    grid-column: 1 / span 4;
}

.hero-img.three {
    background-image: url(./images/hero-01.jpg);

    grid-row: 3 / span 1;
    grid-column: 1 / span 4;
}

.hero-img.four {
    background-image: url(./images/rotary-sdq-group-02.jpg);

    grid-row: 4 / span 1;
    grid-column: 1 / span 4;
}