@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300;400;600;700&display=swap');

/* ---------------- UNIVERSAL STYLES ----------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}


/* ----------------  Navbar  ----------------- */

#nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #0067C8;
}

.rotary-logo img {
    width: 11rem;

    padding: 1rem;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    text-decoration: none; 

    color: white;
}

/* ---------------- Hero ----------------- */

#hero {
    background-color: #0067C8;

    height: 55vh;
}

.hero-info .heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 3.25rem;

    text-align: center;

    padding: 3rem 1rem;
}

.hero-info .highlight {
    display: block;
    color: #F7A81B;

    font-size: 5.125rem;
    font-family: 'Open Sans Condensed', sans-serif;
}