@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700&family=Roboto+Serif:ital,wght@0,100;0,400;0,500;1,700&display=swap');

/* ---------------- UNIVERSAL STYLE ------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.title {
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.button {
    border: 0;
    padding: 1rem 2.5rem;
    border-radius: 50px;
    background-color: #633977;

    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.button:hover {
    background-color: #b678c0;
    cursor: pointer;
}

/* ------------------------ BODY --------------------------- */
/* --------------------------------------------------------- */


/* ------------------------ HEADER --------------------------- */

#nav-menu {
    display: flex;
    justify-content: space-between;
    background-color: #adefd8;

    padding: 0.5rem 2rem;
}

.logo-container a {
    display: flex;
    align-items: center;

    text-decoration: none;
}

.beauty-logo img {
    height: 80px;
}

.logo {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #215261;
    
}

.nav-menu-container {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    gap: 4rem;
    
    list-style: none;
}

.main-nav a {
    text-decoration: none;

    font-size: 1rem;
    font-weight: 600;
    color: #215261;
}

/* ------------------------ HERO --------------------------- */

#hero {
    background-image: url(https://images.unsplash.com/photo-1612817288484-6f916006741a);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

.hero-text-container {
    width: 80%;
    background-color: hsla(100, 100%, 100%, 0.6);
    text-align: center;
    padding: 2.5rem 0;
}

.hero-text {
    width: 70%;
    margin: 0 auto;
}

.hero-text .heading {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #252525;

    margin: 1rem 0;
}

.tagline {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 3.2rem;
    color: #633977;
    letter-spacing: 0;
}

.hero-text p {
    font-weight: 600;

    margin-bottom: 2rem;
}

/* -------------------- Mission Statement --------------------- */

#mission {
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.mission-container {
    margin: 0 auto;
    max-width: 800px;
}

.mission-container .title {
    color: #215261;
    line-height: 3rem;
    
    margin-bottom: 2.5rem;
}

.mission-container p {
    padding: 0 8rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

/* ------------------ Image Portfolio ------------------- */

#portfolio {
    background-color: #c5f0e1;

    padding: 8rem 0;
}

.gallery .title {
    color: #215261;
    text-align: center;
    font-size: 3.2rem;

    margin-bottom: 2.6rem;
}

.looks-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    max-width: 800px;
    gap: 2rem;

    margin: 0 auto;
}

.looks-gallery img {
    height: 290px;
    border-radius: 6px;
    box-shadow: 3px 3px 12px rgba(33, 82, 97, 0.2);
}

.look-img a {
    text-decoration: none;
}

.look-img span {
    display: block;
    margin-top: 0.5rem;
    text-align: center;

    padding: 0.5rem 0;
    
    background-color: rgba(74, 41, 90, 0.6);
    border-radius: 4px;
    color: white;
}

/* ------------------ TEAM ------------------- */

#team {
    background-color:#633977;
    color: white;

    padding: 8rem 0;

    display: flex;
    justify-content: center;
    text-align: center;

    position: relative;
}

.team-container {
    margin-top: 2.6rem;
}

.team-container .title {
    margin-bottom: 2.6rem;
}

.team-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    padding: 0 5rem;
}

.team-member {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 150px;
}

.team-profile {
    width: 150px;
    height: 150px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50%;
    border: 8px solid #3a2344;

    margin-bottom: 1rem;
}

.team-profile.one {
    background-image: url(https://images.unsplash.com/photo-1607746882042-944635dfe10e);
}

.team-profile.two {
    background-image: url(https://images.unsplash.com/photo-1511945863317-d60e146e9016?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1155&q=80);
}

.team-profile.three {
    background-image: url(https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

.team-motto {
    width: 50%;
    padding: 0.8rem;
    background-color: #382044;

    position: absolute;

    top: 4%;
    right: 0;
}

.team-motto .motto-title {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;

    color: #FAD790;
}

.team-motto .motto {
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.09rem;
    line-height: 1.3rem;

    width: 85%;
    margin: 0 auto;
}

/* ------------------ CTA ------------------- */

#cta {
    display: flex;
    align-content: center;
    justify-content: center;

    padding: 8rem 0;
}

.cta-container {
    background-color:#215261;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-container .title {
    color: #FAD790;
    font-size: 2rem;
    font-weight: 500;

    margin-bottom: 1.5rem;
}

.button.cta {
    width: 200px;

    background-color: #abddcc;
    color: #252525;
}

.button.cta:hover {
    background-color:#d3b9df;
}

/* ------------------ Contact Info ------------------- */

#contact {
    text-align: center;
    background-color: #c5f0e1;

    padding: 4rem;
}

#contact .title {
    color: #215261;
    font-weight: 700;

    margin-bottom: 1.5rem;
}

#contact p {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

#contact .phone-number {
    font-size: 1.5rem;
    color: #215261;
    margin-bottom: 1.5rem;
}

#footer {
    background-color: #633977;
    color: white;
    font-style: italic;
    text-align: center;

    padding: 2rem;
}

#footer a {
    color: white;
}